* {
    margin: 0;
    box-sizing: border-box;  
}  

/*** HOME SECTION ***/
  .bg-image {
    background-image: url("design/barbers-1.jpg");
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/* .home-section{
    text-decoration-color: #eee;
} */

.home-section-container {
    position: relative;
    text-align: justify;
    margin: auto;
}

/* PRICING SECTION */
.pricing_section {
    padding: 100px 50px;
    background-color: #807F7A;
    color: whitesmoke;
}

/*** SERVICE SECTION ***/ 

.service-section {
    padding: 100px 50px;
    background-color: #807F7A;
}



/*** BARBER SECTION ***/ 

.section_heading
{
    text-align: center;
    margin-bottom: 40px;
}

.section_heading h3
{
    color: #807F7A;
    font-weight: 400;
    font-family: 'Prata', sans-serif;
    font-size: 37px;
}

.section_heading h2
{
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 0;
}

.barber-section
{
    border-bottom: 2px solid #eee;
    padding: 100px 50px;
}


.barber-section .team_members .team_member 
{
    position: relative;
    overflow: hidden;
}

.barber-section .team_members .team_member img 
{
    width: 20%;
}
/*** CONTACT SECTION ***/

.contact-section
{
	padding:100px 50px;
    background-color: #807F7A;
    height: 650px;
}

.contact-info{
    float: left ;
}

.contact-info h2
{
	font-size: 36px;
	color: #FED700;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: -0.04em;
	font-family: 'Prata', sans-serif;
}

.contact-info h3 
{
    line-height: 28px;
    margin-bottom: 20px;
    color: gold ;
}

.contact-info h4 
{
    font-size: 15px;
    line-height: 28px;
    color: gold;
}

.contact-form 
{
    background-color: #fff;
    padding: 50px 40px;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    border-radius: 3px;
    float: right;
    margin-right: 80px;
}

.form-control
{
    background-color: #fff;
    border-radius: 0;
    padding: 25px 10px;
    box-shadow: none;
    border: 2px solid #eee;
}

.form-control:focus 
{
    border-color: #9e8a78;
    box-shadow: none;
    outline: none;
}

.form-group{
    padding: 5px;
}